.settings {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  }


  
  .settingsWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
  }
  
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(242, 234, 234);
    background-color: teal;
    padding: 5px;
  }
  
  .settingsDeleteTitle {
    color: red;
    font-size: 15px;
    cursor: pointer;
  }
  
  .settingsForm {
    display: flex;
    flex-direction: column;
  }
  
  .settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .settingsPP > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
  }
  
  .settingsPPButton:focus {
    outline-style: none;
  }
  
  .settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .settingsPPInput {
    width: 30%;
  }
  
  .settingsForm > input {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  
  .settingsSubmit {
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settingsSubmit:hover {
    background-color: rgb(1, 114, 114);
  }